.form {
  width: 600px;
  padding: 30px;
  margin: 0 auto;
}

.calculation {
  width: 600px;
  padding: 30px;
  margin: 0 auto;
}

.result {
  font-weight: 700;
  color: green;
}

.error {
  font-weight: 700;
  color: red;
}
